.packages{


  &-box{
    display: flex;
    padding: 40px 30px 0 30px;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-bottom: 18px;

    &-title{
      font-size: 32px;
    }

    &-text{
      color: #57606A;
      font-size: 16px;
      margin-bottom: 35px;
    }

    &-subtitle{
      color: #57606A;
      font-size: 20px;
    }
  }

  &-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &-item{
      max-width: 288px;
      padding: 14px 46px 24px 24px;
      // border: 1px solid red;
      height: auto;

      &-desc{
        display: flex;
        align-items: center;
        gap: 9.7px;
        margin-bottom: 12px;
        // border: 1px solid red;
        padding: 3px 3.9px;
      }

      &-title{
        font-size: 20px;
      }

      &-text{
        font-size: 12px;
        color: #57606A;
        margin-bottom: 14px;
        line-height: 18.5px;
      }

      &-btn{
        font-size: 12px;
        font-weight: 600;
        padding: 4px 12px !important;
      }



    }
  }
}