
.repo-list{
  gap: 17px;
}

.repo-list-item{
  // max-width: 400px;
  width: calc(50% - 17px);
}


.card-repo-item{
  font-size: 13px !important;
  color: grey;
  font-weight: 400 !important;

  &-title{
    font-weight: 500 !important;
    width: 100%;
    font-size: 15px;
    &:hover{
      text-decoration: underline;
    }
  }
  &-span{
    color: grey;
    font-size: 13px;
    padding: 0 6px;
  }
}
